# vi: set ft=yaml:

---

all:
  vars:
    network: '10.17.4.0/24'

  children:

    'database':
      hosts:
        'postgres-n1':
          ansible_host: postgres-n1.internal
          ansible_port: 22
          fqdn: postgres-n1.internal
          hostname: postgres-n1
          ipv4_address: '10.17.4.46'
    
    'ckan':
      hosts:
        'ckan':
          ansible_host: ckan.internal
          ansible_port: 22
          fqdn: ckan.internal
          hostname: ckan
          ipv4_address: '10.17.4.45'

